body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    margin: 0;
    padding: 0;
}

/* .top-bar {
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .top-bar .logo {
    display: flex;
    align-items: center;
}

.top-bar .logo img {
    height: 40px;
    margin-right: 10px;
} */

/* .top-bar .logo span {
    font-size: 22px;
    font-weight: bold;
} */

.top-bar .nav-links a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    /* background-color: #1b9333; */
}

.top-bar .nav-links a:hover {
   text-decoration: underline;
}

.top-bar .nav-links .logout {
    background-color: #ad2020;
    color: white;
}

.top-bar .nav-links .logout:hover {
    background-color: #6d1414;
    text-decoration: none;
}

h2{
    color: #0077b6;
    margin: 20px 30px;
}
h3 {
    color: #0077b6;
    margin-top: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0077b6;
    color: white;
}

a.action-btn {
    text-decoration: none;
    padding: 6px 12px;
    background-color: #1b9333;
    color: white;
    border-radius: 5px;
}

a.action-btn:hover {
    background-color: #145c22;
}

p {
    text-align: center;
    color: #444;
    margin-top: 40px;
}
td a{
    background-color: #15922e;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
}

td a:hover{
    background-color: #145c22; 
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    height: 50px;
    border-radius: 50%;
}

span{
    font-size: 24px;
    font-weight: bold;
    color: #ff5722;
}